// scss variables
$backgroundImage: url("./broccoli_dark.jpg");
$inviteButtonColor: linear-gradient(45deg, #dd7003 30%, #f99a3b 90%);
$submitButtonColor: #99b186;
$fontColour: white;

/* Body */

.body-section {
  margin: auto;
  width: 100vw;
  height: 100vh;
  background: {
    image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      $backgroundImage;
    size: cover;
    position: center;
  }
}

.title-container {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title-text-box {
  max-width: 500px;
  margin: auto;
}

.invite-button {
  background: $inviteButtonColor;
  color: $fontColour;
}

.dialog-title {
  margin: auto;
  text-align: center;
}

.dialog-text {
  margin: auto;
  text-align: center;
  font-size: 1rem;
}

.dialog-buttons {
  margin: auto;
  justify-content: center;
}

.submit-button {
  background: $submitButtonColor;
  color: $fontColour;
}
