// scss variables
$backgroundImage: url("./broccoli_dark.jpg");

/* Body */

.body-section {
  margin: auto;
  width: 100vw;
  height: 100vh;
  background: {
    image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      $backgroundImage;
    size: cover;
    position: center;
  }
}

.title-container {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title-text-box {
  max-width: 500px;
  margin: auto;
}
