/* App.js */

.App {
  text-align: center;
}

/* Header */
.header {
  position: static;
  height: auto;
}

/* Body */
.body-section {
  margin: auto;
  width: 100vw;
  height: 100vh;
  background: url("./components/body/broccoli_dark.jpg");
  background-size: cover;
  background-position: center;
}

.title-container {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title-text-box {
  max-width: 500px;
  margin: auto;
}

/* Footer */
.footer {
  width: 100%;
  text-align: center;
  position: absolute;
  padding-top: 1%;
  padding-bottom: 1%;
  bottom: 0;
}
